<div class="col-lg-5 mt-5">
    <%= form_with url: scores_path, method: :get, local: true do |f|%>
     <div class="col-lg-3">
       <%= f.text_field :keyword, class: "form-control"%>
     </div>
     <div class="col-lg-2 mt-3">
       <%= f.submit '検索', class: "form-control btn btn-success"%>
     </div>
    <% end %>
</div>