<h1>ユーザー検索</h1>
<%= form_with url: search_users_path, method: :get, local: true do |f| %>
  <%= f.text_field :name %>
  <%= f.submit :search, class:"btn btn-primary" %>
<% end %>
<table class="text-light">
  <thead>
    <tr>
      <th>ユーザー名</th>
    </tr>
  </thead>
  <tbody class="pt-5">
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>