<h2 class="text-white text-center mt-5">About</h2>

<h4 class="text-white text-center mt-5">ゴルフは奥が深く、長く楽しめるスポーツです。<br>
ミラクルショットに喜んだり、少しずつ上達していく自分に満足したり、仲間とのコミュニケーションなど、楽しいことがたくさん待っています。<br>
これからの長いゴルフライフを、自分らしく楽しんで下さい。</h4>