<body  class="text-center top">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <main role="main" class="inner cover">
      <%= image_tag 'logo.png' %>
    </main>

  <footer class="text-black">
    <div class="container">
      <p class="float-right">
      </p>
      <p></p>
    </div>
  </footer>
  </div>
</body>